body {
    background-color: #F7F2F2;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin: 0;
}
h1 {
    color: #000000;
    font-size: 50px;
    text-align: left;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    background-color: #c0c0c0;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

p {
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    margin: 10px 5px;
}

* {
    font-family: 'Jost', sans-serif;

}

